@model DeleteManufactory

<h2 class="text-danger">Delete Manufactory</h2>
<br />
<form method="post" asp-action="Delete">
    <div class="col-3">
       Nhập <label asp-for="ManufactoryId"></label>
    </div>
    <div class="col-9">
        <input asp-for="ManufactoryId" class="form-control" />
        <span asp-validation-for="ManufactoryId" class="text-danger"></span>
    </div>
    <div>
      <br />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </div>
</form>